# ------------------------------
# Node.js
# ------------------------------
/node_modules
npm-debug.log
yarn-error.log

# ------------------------------
# Angular / Ionic
# ------------------------------
/.ionic
/.angular
/.angular/cache
/.nx
/.nx/cache
/.sourcemaps
/.versions
/www
/dist
/tmp
/out-tsc
/platforms
/plugins
/coverage

# Capacitor platforms (opcional)
/android
/ios

# ------------------------------
# Logs y temporales
# ------------------------------
*.log
log.txt
*.tmp
*.tmp.*
.tmp
*.sw[mnpcod]
*~

# ------------------------------
# IDEs y editores
# ------------------------------
.idea/
.project
.classpath
.settings/
.c9/
*.launch
*.sublime-project
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ------------------------------
# Misc
# ------------------------------
.DS_Store
Thumbs.db
.history/*
/libpeerconnection.log
testem.log
/connect.lock
/typings
.sass-cache/

# Archivos de entorno (si los usas)
.env
.env.*