// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --background-color: #0D0B2B;
    --button-color: #D836F9;
    --button-hover-color: #A62DBD;
    --text-color: #D9D9E3;
    --highlight-color: #62E7F7;
  }