.completada {
    text-decoration: line-through;
    color: gray;
  }

  ion-checkbox {
    --border-color: var(--ion-color-primary);
    --border-width: 2px;
    --background: transparent; 
    --background-checked: var(--ion-color-primary); 
    --checkmark-color: #ffffff; 
    --size: 24px;
  }

  .fab-separado {
    bottom: 24px !important;
  }